/* BASIC STYLING START */

body {
    margin: 0;
	background: url(../images/observer.gif);
	background-size: 300px;
	height: 100%;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
}

body, html {
	height: 100%;
}

.content{
	margin: auto;
}
/* BASIC STYLING END */