/* body styling */
body {
    margin: 0;
	background: linear-gradient(to bottom, #FFEAF8 30%, #DDFFD6, #CCE5FF);
	height: 100%;
}

html {
	background: #CCE5FF;
}

body, html {
	height: 100%;
}

a {
	color: #F7A0ED;
} 

/* textbox styling */
.boba-content2{
	max-width: 1000px;
	margin: auto;
	height: 900px;
}

.boba-textbox{
	margin:30px;
	box-shadow: 4px 4px #390066;
	border: solid 2px #390066;
	width: 100%;
	animation-timing-function: ease-in-out;
}

.boba-textboxtext {
	padding: 4px;
	font-size: 18px;
	line-height: 26px;
}

.boba-textboxheader{
	background: #CCE5FF;
	text-align: left;
	color: #761ed6;
	margin: auto;
	padding-top: 2px;
	height: 18px;
	font-size: 16px;
	line-height: 16px;
	font-weight: bold;
	font-family: 'Source Code Pro', monospace;
	border-bottom: solid 2px #390066;
}

.boba-textboxspace {
	padding-left: 4px; /* stupid, but necessary for textbox title */
}

#boba-textbox1 {
	float: right;
	margin-top: 30px;
	max-width: 200px;
	background: white;
	animation: boba-textbox 2s infinite alternate;
	position: absolute;
}

/* title styling */

a #boba-titleanim {
	color: #FFFFFF;
	text-decoration: none;
} 

#boba-titleanim {
    white-space: nowrap;
	font-size: 64px;
	font-family: 'Quicksand', sans-serif;
	font-style: italic;
	color: #FFFFFF;
	user-select: none;
	-webkit-touch-callout: none; /* ios */
	outline: 0;
}

#boba-content {
	width: 500px;
	--width1: 500px;
	--width2: calc(var(--width1) / 2);
	left: calc(50% - var(--width2));
	height: 80px;
	--height1: 80px;
	--height2: calc(var(--height1) / 2);
	top: calc(50% - var(--height2));
	position: absolute;
}

.boba-space {
	padding-left: 8px;
	padding-right: 8px;
}

.boba-shaker {
    display: inline-block;
}

/* stupid */
#boba-shakeranim {
	animation: boba-shake .25s linear infinite alternate;
}

#boba-shakeranim2 {
	animation: boba-shake .24s linear infinite alternate;
}

#boba-shakeranim3 {
	animation: boba-shake .23s linear infinite alternate;
}

#boba-shakeranim4 {
	animation: boba-shake .22s linear infinite alternate;
}

#boba-shakeranim5 {
	animation: boba-shake .21s linear infinite alternate;
}

@media only screen and (max-width : 1000px) {

#boba-shakeranim {
	animation: none
}

#boba-shakeranim2 {
	animation: none
}

#boba-shakeranim3 {
	animation: none
}

#boba-shakeranim4 {
	animation: none
}

#boba-shakeranim5 {
	animation: none
}

}

.boba-stroke {
	position: relative;
	background: transparent;
	z-index: 0;
	outline: 0;
}

.boba-stroke:before {
	content: attr(dummy);
	position: absolute;
	-webkit-text-stroke: 4px #390066;
    white-space: nowrap;
	left: 0;
	top: 0;
	z-index: -1;
}

/* anims */
@keyframes boba-shake {
	0% {
		transform: translate(1px, 1px);
	}
	10% {
		transform: translate(-1px, -1px);
	}
	20% {
		transform: translate(-1px, 0px);
	}
	30% {
		transform: translate(1px, 1px);
	}
	40% {
		transform: translate(1px, -1px);
	}
	50% {
		transform: translate(-1px, 1px);
	}
	60% {
		transform: translate(-1px, 1px);
	}
	70% {
		transform: translate(1px, 1px);
	}
	80% {
		transform: translate(-1px, -1px);
	}
	90% {
		transform: translate(1px, 1px);
	}
	100% {
		transform: translate(1px, -1px);
	}
}

@keyframes boba-title {
	0% {
		transform: translate(0px, 0px);
	}
	100% {
		transform: translate(0px, 10px);
	}
}

@keyframes boba-textbox {
	0% {
		transform: translate(0px, 0px);
	}
	100% {
		transform: translate(0px, 5px);
	}
}

@keyframes boba-marquee {
    0% {
		transform: translate(0, 0);
	}
    100% {
		transform: translate(-100%, 0);
	}
}