/* 404 BASIC STYLING START */

body {
    margin: 0;
	background: linear-gradient(to bottom, #FFEAF8 20%, #DDFFD6, #CCE5FF);
	height: 100%;
	font-family: 'Alata', monospace;
	-webkit-text-size-adjust: none;
}

html {
	background-color: #CCE5FF;
}

#content-404 {
	width: 500px;
	--width1: 500px;
	--width2: calc(var(--width1) / 2);
	left: calc(50% - var(--width2));
	height: 80px;
	--height1: 80px;
	--height2: calc(var(--height1) / 2);
	top: calc(50% - var(--height2));
	position: absolute;
}

/* 404 BASIC STYLING END */
/* === */
/* 404 TITLE STYLING START */

#title-anim-404 {
    white-space: nowrap;
	font-size: 64px;
	font-family: 'Quicksand', sans-serif;
	color: #FFFFFF;
	animation: title-hover 1s infinite alternate;
	animation-timing-function: ease-in-out;
	user-select: none;
	-webkit-touch-callout: none; /* ios */
	outline: 0;
}

#title-shake-anim-1 {
	animation: title-shake .25s linear infinite alternate;
}

#title-shake-anim-2 {
	animation: title-shake .24s linear infinite alternate;
}

#title-shake-anim-3 {
	animation: title-shake .23s linear infinite alternate;
}

#title-shake-anim-4 {
	animation: title-shake .22s linear infinite alternate;
}

#title-shake-anim-5 {
	animation: title-shake .21s linear infinite alternate;
}

/* 404 TITLE STYLING END */
/* === */
/* 404 TEXTBOX STYLING START */

#textbox-404 {
	float: right;
	margin-top: 30px;
	max-width: 200px;
	background: white;
	animation: textbox 2s infinite alternate;
	position: absolute;
}

/* 404 TEXTBOX STYLING END */