/* BASIC STYLING START */

body {
    margin: 0;
	height: 100%;
}

html {
	background: #CCE5FF;
}

body, html {
	height: 100%;
}

a {
	color: #FA70FF;
} 

.content{
	background: linear-gradient(to bottom, #FFEAF8 20%, #DDFFD6, #CCE5FF);
	margin: auto;
}

.content-inner{
	max-width: 1000px;
	margin: auto;
}

.pixel {
	image-rendering: pixelated;
	image-rendering: crisp-edges;
}

/* BASIC STYLING END */
/* === */
/* TITLE STYLING START */

#title-anim {
    white-space: nowrap;
	padding-top: 10px;
	font-size: 52px;
	font-family: 'Quicksand', sans-serif;
	font-style: italic;
	color: #FFFFFF;
	animation: title-hover 1s infinite alternate;
	animation-timing-function: ease-in-out;
	user-select: none;
	-webkit-touch-callout: none; /* ios */
	outline: 0;
}

a #title-anim {
	color: #FFFFFF;
	text-decoration: none;
} 

.title-space {
	padding-left: 8px;
	padding-right: 8px;
}

.title-shake {
    display: inline-block;
}

#title-shake-anim:hover {
	animation: title-shake .25s linear infinite alternate;
}

.title-stroke {
	position: relative;
	background: transparent;
	z-index: 0;
	outline: 0;
}

.title-stroke:before {
	content: attr(dummy);
	position: absolute;
	-webkit-text-stroke: 4px #390066;
    white-space: nowrap;
	left: 0;
	top: 0;
	z-index: -1;
}

/* TITLE STYLING END */
/* === */
/* TEXTBOX STYLING START */

.textbox{
	margin: 20px;
	display: inline-block;
	box-shadow: 4px 4px #390066;
	border: solid 2px #390066;
	width: 100%;
	animation-timing-function: ease-in-out;
}

.textbox-text {
	padding: 4px;
	font-size: 18px;
	line-height: 26px;
}

.textbox-header{
	background: #CCE5FF;
	text-align: left;
	color: #761ed6;
	margin: auto;
	padding-top: 2px;
	height: 18px;
	font-size: 16px;
	line-height: 16px;
	font-weight: bold;
	font-family: 'Source Code Pro', monospace;
	border-bottom: solid 2px #390066;
}

.textbox-header-text {
	padding-left: 4px;
}

.textbox-text-small {
	font-size: 14px;
	line-height: 1px;
}

.textbox-inner{
	margin: 5px;
	vertical-align: top;
	display: inline-block;
	border: solid 2px #390066;
	width: 100%;
	animation-timing-function: ease-in-out;
}

#textbox-inner-small {
	width: 190px;
	height: auto;
	background: white;
}

#textbox-inner-small-selfmade {
	width: 190px;
	height: auto;
	background: #DDFFD6;
}

.img-small {
	width: 190px;
	height: 190px;
}

#textbox-inner-medium {
	width: 300px;
	height: auto;
	background: white;
}

#textbox-inner-medium-selfmade {
	width: 300px;
	height: auto;
	background: #DDFFD6;
}

.img-medium {
	width: 300px;
	height: 300px;
}

.img-selfmade {
	position: relative;
	overflow: hidden;
	display: inline-block;
}

.img-selfmade:after {
	animation: shine 3s ease-in-out infinite;
	animation-fill-mode: forwards;  
	content: "";
	position: absolute;
	top: -110%;
	left: -210%;
	width: 200%;
	height: 200%;
	opacity: 0;
	transform: rotate(30deg);
	background: rgba(255, 255, 255, 0.13);
	background: linear-gradient(
		to right, 
		rgba(255, 255, 255, 0.13) 0%,
		rgba(255, 255, 255, 0.13) 75%,
		rgba(255, 255, 255, 0.5) 90%,
		rgba(255, 255, 255, 0.0) 100%
	);
}

#textbox-1 {
	float: right;
	margin-top: 50px;
	max-width: 400px;
	background: white;
	animation: textbox 2s infinite alternate;
}

#textbox-2 {
	float: left;
	margin-top: 120px;
	max-width: 430px;
	background: white;
	animation: textbox 2.4s infinite alternate;
}

#textbox-3 {
	float: right;
	margin-right: 80px;
	width: 150px;
	height: 170px;
	background-image: url(images/observer.gif);
	background-position: 0px 20px;
	animation: textbox 1.8s infinite alternate;
}

#textbox-4 {
	margin-top: 25px;
	width: 900px;
	height: auto;
	background: white;
	animation: textbox 3s infinite alternate;
}

#textbox-4-padding-big {
	padding: 15px;
}

#textbox-4-padding-small {
	padding-bottom: 15px;
}

/* TEXTBOX STYLING END */
/* === */
/* DROPDOWN STYLING START */

.dropdown-content {
	display: none;
}

.dropdown-show {
	display: inline-block;
}

#dropdown-arrow-1 {
	margin-top: 110px;
	vertical-align: top;
	display: inline-block;
	width: 40px;
	height: 25px;
	background-image: url(images/dropdownarrow.png);
}

#dropdown-arrow-2 {
	margin-top: 110px;
	vertical-align: top;
	display: inline-block;
	width: 40px;
	height: 25px;
	background-image: url(images/dropdownarrow.png);
}

.dropdown-arrow-active {
	transform: scaleY(-1);
}

#dropdown-button:hover {
	background-position: bottom;
}

.dropdown-button-1 {
	vertical-align: top;
	display: inline-block;
	border: solid 2px #390066;
	width: 804px;
	height: 154px;
	background-image: url(images/mapbutton.png);
	background-position: top;
	animation-timing-function: ease-in-out;
	cursor: pointer;
}

.dropdown-button-2 {
	vertical-align: top;
	display: inline-block;
	border: solid 2px #390066;
	width: 804px;
	height: 154px;
	background-image: url(images/unusualbutton.png);
	background-position: top;
	animation-timing-function: ease-in-out;
	cursor: pointer;
}


/* DROPDOWN STYLING END */
/* === */
/* ANIM STYLING START */

@keyframes title-hover {
	0% {
		transform: translate(0px, 0px);
	}
	100% {
		transform: translate(0px, 10px);
	}
}

@keyframes title-shake {
	0% {
		transform: translate(1px, 1px);
	}
	10% {
		transform: translate(-1px, -1px);
	}
	20% {
		transform: translate(-1px, 0px);
	}
	30% {
		transform: translate(1px, 1px);
	}
	40% {
		transform: translate(1px, -1px);
	}
	50% {
		transform: translate(-1px, 1px);
	}
	60% {
		transform: translate(-1px, 1px);
	}
	70% {
		transform: translate(1px, 1px);
	}
	80% {
		transform: translate(-1px, -1px);
	}
	90% {
		transform: translate(1px, 1px);
	}
	100% {
		transform: translate(1px, -1px);
	}
}

@keyframes textbox {
	0% {
		transform: translate(0px, 0px);
	}
	100% {
		transform: translate(0px, 5px);
	}
}

@keyframes shine{
	10% {
		opacity: 1;
		top: -30%;
		left: -30%;
		transition-property: left, top, opacity;
		transition-duration: 0.7s, 0.7s, 0.15s;
		transition-timing-function: ease;
	}
	30% {
		opacity: 0;
	}
	100% {
		top: -30%;
		left: -30%;
		transition-property: left, top, opacity;
	}
}

/* ANIM STYLING END */