#ee {
	display: block;
	border: 1px solid #666;
	box-shadow: 0px 0px 12px 2px #000;
	width: 1280px;
	height: 640px;
	margin-top: 100px;
	margin-bottom: 150px;
}

@media only screen and (max-width: 1300px) {
	#ee {
		display: block;
		border: 1px solid #666;
		box-shadow: 0px 0px 12px 2px #000;
		width: 640px;
		height: 320px;
		margin-top: 100px;
		margin-bottom: 150px;
	}
}

#links {
	width: 130px;
	text-align: left;
	position: relative;
	display: block;
}
		
ul {
	list-style-type: none;
	padding: 0;
}