/* shared */
html {
	height: 100%;
}

body {
	height: 100%;
	min-width: 852px;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	background: #121212;
	color: #fff;
	display: flex;
	flex-direction: column;
}

#bg0 {
	background: #000000 url(background.png) center;
}

#logo {
	height: 120px;
	margin-top: 20px;
	margin-bottom: 20px;
}

/* text */
section {
	text-align: center;
	z-index: 1;
	border-top: 1px solid #333;
	box-shadow: 0px -5px 5px 1px rgba(0,0,0,0.5);
}

.shadow {
	box-shadow: 0px 0px 12px 2px #000;
}

.container {
	width: 850px;
	margin: 0 auto;
	padding: 0;
}

.light {
	background-color: #1e1e1e;
}

.dark {
	background-color: #121212;
}

.padded {
	padding-top: 40px;
	padding-bottom: 40px;
}

h1 {
	margin-top: 0px;
	margin-bottom: 10px;
	padding: 0;
	font-size: 40px;
	font-family: 'Open Sans';
	font-weight: 900;
	color: #ffbb00;
	line-height: initial;
	text-shadow: none;
	background: -webkit-linear-gradient(top, #FFF4C7, #FED946, #FFCB17, #FFB203, #FF7603);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

h2 {
	margin-top: 0px;
	margin-bottom: 10px;
	padding: 0;
	font-size: 30px;
	font-family: 'Open Sans';
	font-weight: 800;
	color: #ffbb00;
	line-height: initial;
	text-shadow: none;
	background: -webkit-linear-gradient(top, #FFF4C7, #FED946, #FFCB17, #FFB203, #FF7603);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

p {
	color: #ffffff;
	font-size: 14px;
	line-height: 24px;
	margin: 0;
}

a {
	color: #ffbb00;
}

#footertext {
	padding: 10px 0;
	font-weight: 900;
	text-shadow: 0 2px 1px #000000;
}

/* cookie popup */
#cn {
	display: none;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background: #121212;
	text-align: center;
	padding: 20px 0;
	font-size: 15px;
	border-top: 1px solid #333;
	box-shadow: 0 2px 5px #000;
	z-index: 999;
}

#cn-head {
	padding: 0 10px 10px;
	font-weight: bold;
	font-size: 17px;
	color: #FBC52E;
}

#cn-body {
	max-width: 600px;
	padding: 0 10px 15px;
	margin: 0 auto;
}

.cn-button {
	margin: 0 10px;
}

.cn-button div {
	display: inline-block;
	padding: 10px;
	border-radius: 4px;
	color: #ffffff;
}

.cn-button #cn-more {
	background: #333;
}

.cn-button #cn-accept {
	background: #FBC52E;
	color: #121212;
	font-weight: bold;
}