/* body styling */
body {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	background: #141313;
}

/* header */
#logo1 {
	background-image: url(images/tf2_logo.png);
	background-position: top;
	width: 300px;
	height: 75px;
	display: inline-block;
	margin-top: 40px;
	outline: 0;
}

#logo1:hover {
	background-position: bottom;
}

#logo3 {
	background-image: url(images/subtitle.png);
	background-position: top;
	width: 840px;
	height: 87px;
	display: inline-block;
	margin-top: 20px;
}

#button1 {
	background-image: url(images/btn_tactics.png);
	background-position: top;
	width: 250px;
	height: 65px;
	display: inline-block;
	margin-top: 40px;
	outline: 0;
}

#button1:hover {
	background-position: bottom;
}

#button2 {
	background-image: url(images/btn_gear.png);
	background-position: top;
	width: 250px;
	height: 65px;
	display: inline-block;
	margin-top: 40px;
	outline: 0;
}

#button2:hover {
	background-position: bottom;
}

#button3 {
	background-image: url(images/btn_war.png);
	background-position: top;
	width: 250px;
	height: 65px;
	display: inline-block;
	margin-top: 40px;
	outline: 0;
}

#button3:hover {
	background-position: bottom;
}

#button4 {
	background-image: url(images/btn_notes.png);
	background-position: top;
	width: 250px;
	height: 65px;
	display: inline-block;
	outline: 0;
}

#button4:hover {
	background-position: bottom;
}

#button5 {
	background-image: url(images/btn_credits.png);
	background-position: top;
	width: 250px;
	height: 65px;
	display: inline-block;
	outline: 0;
}

#button5:hover {
	background-position: bottom;
}

.fadein1 {
	animation: fadein1 .75s;
}

@keyframes fadein1{
	0% {
		opacity:0
	}
	20% {
		opacity:0
	}
	100% {
		opacity:1
	}
}

.fadein2 {
	animation: fadein2 1.5s;
}

@keyframes fadein2{
	0% {
		opacity:0
	}
	40% {
		opacity:0
	}
	100% {
		opacity:1
	}
}

.fadein3 {
	animation: fadein3 2s;
}

@keyframes fadein3{
	0% {
		opacity:0
	}
	40% {
		opacity:0
	}
	100% {
		opacity:1
	}
}

.fadein4 {
	animation: fadein4 2s;
}

@keyframes fadein4{
	0% {
		opacity:0
	}
	50% {
		opacity:0
	}
	100% {
		opacity:1
	}
}