/* game */

#gameContainer {
	position: relative;
	margin: 16px 10px 0px;
	border: solid 2px #60318E;
	width: 960px;
	max-width: calc(100% - 24px);
	aspect-ratio: 16 / 9;
}

#game {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	border: 0px;
}

p {
	display: inline-block;
	width: 100%;
	margin: 5px 0px;
}

ul {
	display: inline-block;
	padding: 0px;
	text-align: left;
	margin: 5px 0px;
}

.divider {
	width: 100%;
	height: 2px;
	background: #60318E;
	margin: 10px 0px;
}

/* individual textboxes */

@keyframes textbox {
	0% {
		transform: translate(0px, 0px);
	}
	100% {
		transform: translate(0px, 4px);
	}
}

#textboxGameNav {
	width: 350px;
	text-align: center;
	animation: textbox 2s infinite alternate ease-in-out;
	margin: 20px auto 0px;
}

#textboxGame {
	width: 1000px;
	text-align: center;
}